
@import url("reset.css");

body{
	margin:0px;
	font-family: 'Helvetica Neue';
	line-height: 1.5;
	color: #333;
	background-color: #EAEAEA;
	}
	
header{
	position: fixed;
	z-index: 10;
	top: 0;
	background-color: white;
	width: 10%;
	height: 100%;
	/*-webkit-transform: translateZ(0);*/
	overflow: hidden;
	}
	
header a{
	line-height: 7vh;
	
	text-decoration: none;
	color: black;
	display: block;
	width: 30px;
}

header a:hover{
	
}

nav a{
	padding-top: 10%;
	margin: 0 auto;
	text-align: center;
	font-size: 1em;
	line-height: 1.8em;
}

#box{
	/*width: 38vw;*/
	/*margin-top: 20%;*/
	/*margin-left: 10%;*/
	display: block;
}

#Footer{
  position: absolute;
  width: 100%;
  bottom: 0;
}

#Footer p{
  text-align: center;
  line-height: 30px;
  font-size: 10px;
}













