/* Base styles */



html {
  font-size: 100%;
  line-height: 1.5;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  min-height: 100%;
  background-color: #F1F1F1;
}

#toggleProfile{
  margin: 0px auto;
}



#Footer{
  position: absolute;
  width: 100%;
  bottom: 0;
}

#Footer p{
  text-align: center;
  line-height: 10px;
}



